@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family:'hana_pro'; src: url('../font/BMHANNAProOTF.woff') format('woff');}
@font-face { font-family:'hana_air'; src: url('../font/BMHANNAAir_otf.woff') format('woff');}

* {
    /* touch-action: manipulation;  */
    touch-action: auto; 
}

*:focus {
    outline: 0;
}

/*Eric mayor reset*/

body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd { margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 12px; line-height: 0;}
ul {list-style: none;}
img {border: 0; vertical-align: top; }

html{overflow: hidden;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    /* scroll-snap-type: y mandatory; */
    /* scroll-snap-type: none; */
    user-select: none;
    --color-texta: #000;
    --color-textb: #fff;
}

body {  
    cursor: none;
    /* zoom: 0.55;  */
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size:14px; 
    font-family:'Noto Sans KR'; 
    font-weight:500; 
    color:black; 
    /* display: none; */
    /* display: none; */
    background-color: black;
}

body:hover {
    cursor: none;
}

a { text-decoration:none; color:black; cursor: none; }
button {cursor: none; }
.blind { position:absolute; top:-9999px; }

/* layout */
header { 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    background: rgba(255, 255, 255, 1); 
    width: 100%;
    /* height: 120px;  */
    border-bottom: 2px solid black;
    z-index: 1000;
    visibility: hidden;
}

.header_hide { 
    position: fixed; 
    left: 0px; 
    top: -10vh; 
    background: rgba(255, 255, 255, 1); 
    width: 100%;
    /* height: 120px;  */
    border-bottom: 2px solid black;
    z-index: 1000;
}

header .inner { 
    position: relative;  
    /* max-width: 1352px;  */
    /* width: 1352px;  */
    /* width: 100%;  */
    height: 66px; 
    /* border-bottom: 4px solid black; */
    margin: 0 auto; 
    /* border: 2px dashed yellow; box-sizing: border-box;  */
    z-index: 1200;
}

/* popup */
.pop { display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: white; z-index: 1200; overflow: auto; 
    scroll-snap-type: y mandatory;
    /* overflow-y: hidden; */
}
.pop .inner { text-align: center; }

.pop_h {
    position: fixed; 
    left: 0px; top: 0px; background: rgba(255, 255, 255, 1); 
    width: 100%;
    height: 6%;
    /* height: 120px;  */
    border-bottom: 2px solid black;
    z-index: 1000;
    /* visibility: hidden; */
}
.pop_h_inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.pop_h_inner a {
    padding-left: 2%;
}
.pop_h_inner a h3{
    font-size: 1.05vw;
    font-weight: 300;
    /* cursor: pointer; */
}
.close { 
    /* position: absolute; */
    /* right: 0%; */
    /* top: 26%; */
    padding-right: 2%;
    color: black;
    /* cursor: pointer; */
    font-size: 0.9vw;
    font-weight: 300;
}
.pop_f {
    position: relative;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid black;
    /* background: rgba(0, 0, 0, 0);  */
    background: rgba(255, 255, 255, 1);
    width: 100%; 
    height: 6%;
    /* visibility: hidden; */
    z-index: 1000
}
.pop_f_inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.05vw;
    font-weight: 300;
}

.pop .inner .sc_al {
    display: none;
    visibility: hidden;
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
    /* align-items: center; */
}

.pop .inner .sc_al .sc_w {
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 
.pop_f_inner a:hover {
    text-decoration: underline; 
}
*/

.pop_fnc {
    display: flex;
    align-items: center;
    padding-top: 0.5vh;
}

.pop_fnc a:nth-child(1) {
    padding-right: 2vw;
    display: flex;
}
.pop_fnc a:nth-child(2) {
    padding-right: 2vw;
    display: flex;
}
.pop_fnc a:nth-child(3) {
    display: flex;
}

.pop_fnc a:nth-child(1) img {
    width: 1vw;
}

.pop_fnc a:nth-child(2) img {
    width: 1vw;
    transform: scale(2);
}
.pop_fnc a:nth-child(3) img {
    width: 1vw;
    transform: scale(1.4);
}



.inner .d6 { box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 13%);}


.hidden { 
    /* position: fixed;  */
    height:100%; 
    min-height:100%; 
    overflow:hidden !important; 
    touch-action:none;
}


/* header */
header ul {
    position: absolute; 
    right: 9px; 
    top: 26px;
    padding-right: 1%;
    /* border: 2px dashed yellow; box-sizing: border-box; */
} 

header a .logo {
    position: absolute; 
    left: 9px; 
    top: 16px; 
    padding-left: 1%;
    width: 105px;
}

header ul li {
    float: left;
    font-family: 'Noto Sans KR';
    font-size: 16.5px;
    font-weight: 500;
    /* border: 2px dashed yellow; box-sizing: border-box; */
    line-height: 1em;
}

header ul li:nth-child(1) { position: relative; padding-right:55px}
header ul li:nth-child(1) .hr_d1 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) { position: relative; padding-right:55px}
header ul li:nth-child(2) .hr_d2 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(2) .hr_d3 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) .hr_d4 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) .hr_d5 { 
    position: absolute;
    top: -5px;
    left: 52px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) { position: relative; padding-right:55px}
header ul li:nth-child(3) .hr_d6 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(3) .hr_d7 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d8 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d9 { 
    position: absolute;
    top: -5px;
    left: 52px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d10 { 
    position: absolute;
    top: -5px;
    left: 66px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(4) { position: relative;}
header ul li:nth-child(4) .hr_d11 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(4) .hr_d12 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(4) .hr_d13 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

/* .logo:hover {opacity: 0.5;}
.header ul li:nth-child(1):hover {opacity: 0.5;}
.header ul li:nth-child(2):hover {opacity: 0.5;}
.header ul li:nth-child(3):hover {opacity: 0.5;}
.header ul li:nth-child(4):hover {opacity: 0.5;} */


@keyframes header_ani {
    0% {top: 0vh; }
    100% { top: -10vh; }
}




section {visibility: hidden;}

#container {
    height: 100%;
}

.item {
    height: 100%;
    /* scroll-snap-align: start; */
}


.item:nth-of-type(1) {
    background-color: white;
    height: 11000px;
}

.item:nth-of-type(1) h2 { 
    position: relative;
    text-align: center;
    position: fixed;
    left: 41.6%;
    bottom: 47.5%;
    font-family: 'SF Pro';
    font-size: 2vw;
    line-height: 1em;
    margin-top: -14px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.1vw;
}

.item:nth-of-type(1) .sec1 {
    margin-top: 5%;
    
}

.item:nth-of-type(1) .sec1 .visual img { 
    width: 40%;
    position: fixed;
    left: -30%;
    bottom: 37%;
    transform: scale(0.6);
}


.item:nth-of-type(1) .sec1 .typo { 
    position: relative;
    text-align: center;
    position: fixed;
    left: 37%;
    bottom: 34%;
}
.item:nth-of-type(1) .sec1 .typo h3 { 
    font-family: 'SF Pro KR';
    font-size: 2vw;
    line-height: 1em;
    margin-top: -14px;
    color: black;
    /* padding-top: 14px; */
    font-weight: 100;
}
.item:nth-of-type(1) .sec1 .typo p {
    font-family: 'SF Pro KR';
    font-size: 1.1vw;
    font-weight: 100;
    line-height: 1em;
    /* padding-top: 29px; */
    padding-top: 3vh;
    color: rgba(0, 0, 0, 0.5);
}

.item:nth-of-type(1) .sec1 .typo h3 span .kw1 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw2 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw3 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw4 { line-height: 0;}


.item:nth-of-type(1) .sec2 .typo2 { 
    position: relative;
    text-align: center;
    position: fixed;
    left: 35.3%;
    bottom: 42%;
}

.item:nth-of-type(1) .sec2 .typo2 h3 { 
    /* opacity: 0;  */
    font-family: 'SF Pro KR';
    font-size: 8vw;
    line-height: 1em;
    margin-top: -14px;
    font-size: 2.1vw;
    color: black;
    /* padding-top: 14px; */
    font-weight: 100;
}
.item:nth-of-type(1) .sec2 .typo2 p {
    /* opacity: 0;  */
    font-family: 'SF Pro KR';
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1em;
    /* padding-top: 59px; */
    padding-top: 6vh;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 100;
}


.item:nth-of-type(1) .sec2 .typo2 .d1 { 
    /* opacity: 0; */
    position: absolute;
    top: -17%;
    left: 16.9%;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px;

    
}

.item:nth-of-type(1) .sec2 .typo2 .d2 { 
    /* opacity: 0; */
    position: absolute;
    top: -17%;
    left: 23.5%;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px;
}

.item:nth-of-type(1) .sec2 .typo2 .d3 { 
    /* opacity: 0; */
    position: absolute;
    top: -17%;
    right: 21.3%;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px;
}

.item:nth-of-type(1) .sec2 .typo2 .d4 { 
    /* opacity: 0; */
    position: absolute;
    top: -17%;
    right: 14.5%;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px;
}

.item:nth-of-type(1) .sec2 .typo2 .d5 { 
    /* opacity: 0; */
    position: absolute;
    bottom: 34%;
    left: 32.8%;
    width: 0.15vw;
    height: 0.15vw;
    border-radius: 3.5px;
    background: rgba(0,0,0,0.4);
}

.item:nth-of-type(1) .sec2 .typo2 .d6 { 
    /* opacity: 0; */
    position: absolute;
    bottom: 34%;
    left: 36.2%;
    width: 0.15vw;
    height: 0.15vw;
    border-radius: 3.5px;
    background: rgba(0,0,0,0.4);
}


.bkbox {
    position: fixed;
    width: 100%;
    top: 100%;
    width: 100%;
    height: 1080px;
    background-color: black;
}


.item:nth-of-type(2) .wrapper {
    width: 100%;
    height: 9700px;
    /* display: none; */
/* object-fit: cover; */
}
.item:nth-of-type(2) canvas {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* height: 1080px; */
    object-fit: cover;
}


.portfolio {
    background-color: white;
    position: fixed;
    bottom: 0%;
    padding: 0%;
}

.item:nth-of-type(3) .container { width: 100%;}

.item:nth-of-type(3) .pf {
    display: flex;
    width: 600vw;
    height: 100vh;
    /* text-align: center; */
    align-items: center;
}

.item:nth-of-type(3) .pf_ani {
    width: 55vw;
    margin-right: 101vw;
    margin-left: 6vw;
}

.item:nth-of-type(3) .pf1 {
    position: relative;
    margin-left: 40vw;
}

.item:nth-of-type(3) .pf1 img:nth-child(1) {
    width: 55vw;
}



.inner .sheet{ 
    margin: 0 auto;
    box-sizing: border-box;
    /* width: 100%; */
    max-width: 1920px;
    /* border: 1px blue dashed; */
}
.inner .sheet img{ 
    margin: 0 auto;
    box-sizing: border-box;
    /* width: 100%; */
    /* width: 75%;  */
    width: 157.5vh;
    /* max-width: 1920px; */
    /* border: 1px blue dashed; */
}
.inner .s1 { 
    position: relative;
    scroll-snap-align: center;
    margin-top: 3%;
    background: rgb(33, 33, 33);
    z-index: 100;
}
.inner .s1_left{ 
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(49, 144, 219);
    z-index: -1;
    border-bottom: 0.01px rgb(49, 144, 219) solid;
    /* margin-top: 0.1%; */
}
.inner .s1_right{ 
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(226, 27, 39);
    z-index: -1;
    border-bottom: 0.01px rgb(226, 27, 39) solid;
    /* margin-top: 0.1%; */
}
.inner .s1_img {box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 13%);}
.inner .s2 {position: relative; scroll-snap-align: center;}
.inner .s3 {scroll-snap-align: center; background: rgb(33, 33, 33);}

.inner .s4 {
    margin: 0 auto;
    position: relative;
    max-width: 1920px;
    scroll-snap-align: center;
}
.inner .s5 {
    margin: 0 auto;
    position: relative;
    /* border: 3px blue dashed; */
    max-width: 1920px;
    scroll-snap-align: center;
    background: rgb(33, 33, 33);
}
.inner .s6 {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    scroll-snap-align: center;
    margin-bottom: 3%;
    background: rgb(33, 33, 33);
    z-index: 100;
}   
.inner .s6_left{ 
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(49, 144, 219);
    z-index: -1;
    /* margin-top: 0.1%; */
}
.inner .s6_right{ 
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(226, 27, 39);
    z-index: -1;
    /* margin-top: 0.1%; */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

#pf1back {
    position: absolute;
    top: 48%;
    left: -24%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf1next {
    position: absolute;    
    top: 48%;
    right: -24%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf2back {
    position: absolute;
    top: 48%;
    left: -40%;
    visibility: hidden;
    z-index: 6;
    /* cursor: pointer; */
}

#pf2next {
    position: absolute;    
    top: 48%;
    right: -40%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf3back {
    position: absolute;
    top: 48%;
    left: -40%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf3next {
    position: absolute;    
    top: 48%;
    right: -40%;
    visibility: hidden;
    /* cursor: pointer; */
}
#pf4back {
    position: absolute;
    top: 48%;
    left: -128%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf4next {
    position: absolute;    
    top: 48%;
    right: -128%;
    visibility: hidden;
    /* cursor: pointer; */
}
#pf5back {
    position: absolute;
    top: 48%;
    left: -40%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pf5next {
    position: absolute;    
    top: 48%;
    right: -40%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pfmback {
    position: absolute;
    top: 48%;
    left: -128%;
    visibility: hidden;
    /* cursor: pointer; */
}

#pfmnext {
    position: absolute;    
    top: 48%;
    right: -128%;
    visibility: hidden;
    /* cursor: pointer; */
}

.item:nth-of-type(3) .pf2 {
    position: relative;
}

.item:nth-of-type(3) .pf2 img:nth-child(1) {
    position: relative;
    width: 40vw;
    z-index: 10;
}

.item:nth-of-type(3) .pf2 .pf2_bg {
    position: relative; 
    position: absolute;
    top: 4.5%;
    left: 3.8%;
    /* border: 5px dashed #777777; */
    /* object-fit: cover; */
    /* width: 1920px; */
    /* height: 1080px; */
    width: 37vw;
    height: 21vw;
    transform: scale(1);
    z-index: 5;
    background-color: rgba(240, 174, 0, 1);
}

.item:nth-of-type(3) .pf2 .pf2_bg h3{
    position: absolute;
    top: 17%;
    right: 7%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 4.3vw;
    font-weight: bold;
}

.item:nth-of-type(3) .pf2 .pf2_bg h3 span{
    font-weight: 100;
}

.item:nth-of-type(3) .pf2 .pf2_bg p{
    position: absolute;
    top: 27%;
    right: 8%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Noto Sans KR';
    font-size: 1.3vw;
    font-weight: 100;
    opacity: 70%;
}
.item:nth-of-type(3) .pf2 .pf2_bg img{
    position: absolute;
    /* bottom: 0%;
    left: 0%; */
    bottom: -44%;
    left: -26%;
    width: 30%;
    z-index: 2;
}

.item:nth-of-type(3) .pf2 .pf2_bg .eye_hide1 {
    position: absolute;
    bottom: -44%;
    left: -31%;
    width: 50vw;
    height: 9vw;
    z-index: 4;
    background-color: white;
    cursor: none;
}
.item:nth-of-type(3) .pf2 .pf2_bg .eye_hide2 {
    position: absolute;
    bottom: -44%;
    left: -29%;
    width: 10vw;
    height: 38vw;
    z-index: 4;
    background-color: white;
    cursor: none;
}

.inner .pf2_1 { 
    position: relative;
    scroll-snap-align: center;
    margin-top: 3%;
    background: rgb(240 174 0);
    z-index: 100;
    text-align: right;
}
.inner .pf2_1_eye{
    position: absolute;
    bottom: 0%;
    left: 0%;
    /* width: 88%; */
    /* height: 100%; */
    /* transform: scale(0.5); */
    zoom: 0.4;
    z-index: 101;
    /* display: none;*/
}
.inner .sheet .pf2_1{ 
    margin: 0 auto;
    box-sizing: border-box;
    /* width: 100%; */
    /* width: 75%;  */
    width: 157.5vh;
    /* max-width: 1920px; */
    /* border: 1px blue dashed; */
}

.inner .pf2_2 {position: relative; scroll-snap-align: center; display: flex;}

.inner .pf2_2 .pf2_2_img {width: 78.5vh;}

.inner .pf2_2_l {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.inner .pf2_2_r {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.inner .pf2_3 {
    scroll-snap-align: center; 
    background: rgb(43 82 125); 
    text-align: right;
    display: flex;
}

.inner .pf2_3 .pf2_3_d3_l {margin-left: 0%; width: 78.5vh;  margin-right: 2%;}
.inner .pf2_3 .pf2_3_d3_r {width: 78.5vh;  margin-right: 2%;}

.inner .pf2_5 {
    margin: 0 auto;
    position: relative;
    /* border: 3px blue dashed; */
    max-width: 1920px;
    scroll-snap-align: center;
    background: rgb(240 174 0);
    text-align: left;
    display: flex;
    z-index: -2;
}

.inner .pf2_5 .pf2_5_d5_l {
    width: 78.5vh;
    margin-left: 4%;
}
.inner .pf2_5 .pf2_5_d5_r { 
    /* position: absolute; */
    /* right: 2%; */
    width: 78.5vh;
    margin-right: 0%;
}
.inner #pf2_5_rsub {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 10%;
    height: 100%;
    z-index: -1;
}

.inner .pf2_5 .pf2_5_d5 {margin-left: 2%;}

.inner .pf2_6 {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    scroll-snap-align: center;
    margin-bottom: 3%;
    background: rgb(255 255 255);
    z-index: 100;
    margin-top: 1%;
}   


.item:nth-of-type(3) .pf3 {
    position: relative;
}
.item:nth-of-type(3) .pf3 img:nth-child(1) {
    position: relative;
    width: 40vw;
    z-index: 10;
}

.item:nth-of-type(3) .pf3 .movie1 { 
    position: relative;
    position: absolute;
    top: 4.4%;
    left: 2.9%;
    /* border: 5px dashed #777777; */
    /* object-fit: cover; */
    /* width: 1920px; */
    /* height: 1080px; */
    width: 37.5vw;
    height: 21.5vw;
    transform: scale(1);
    z-index: 15;
}

.item:nth-of-type(3) .pf3 .movie1 img { 
    /* zoom: 1.825; */
    position:absolute; 
    visibility:hidden;
    width:100%; 
    object-fit: cover;
    /* background-size: cover; */
    /* border:5px dashed #777777;  */
    height:100%; 
}


.inner .pf3_1 { margin-top: 3%; transform: scale(0.9); scroll-snap-align: center;}
.inner .pf3_2 {transform: scale(0.9); position: relative; scroll-snap-align: center;}
.inner .pf3_3 {transform: scale(0.9); scroll-snap-align: center;}

.inner .pf3_4 {
    margin: 0 auto;
    position: relative;
    max-width: 1920px;
    scroll-snap-align: center;
    margin-bottom: 3%;
    transform: scale(0.9); 
}



img[usemap] {

    border: none;

    height: auto;

    max-width: 100%;

    width: auto;

}



.item:nth-of-type(3) .pf4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-of-type(3) .pf4_iphone{
    position: relative;
    width: 15vw;
    z-index: 10;
}

.item:nth-of-type(3) .pf4 .pf4_bg .pf4bg {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 13.5vw;
    height: 24vw;
    background-color: white;
    z-index: 0;
}

.item:nth-of-type(3) .pf4 .pf4_bg .hss_logo{
    position: absolute;
    bottom: 38.5%;
    left: 23%;
    width: 56%;
    z-index: 5;
}
.item:nth-of-type(3) .pf4 .pf4_bg .pf4_subp{
    position: absolute;
    bottom: 41.5%;
    left: 36%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Noto Sans KR';
    /* font-family: 'OTEnjoystoriesBA'; */
    font-size: 0.7vw;
    opacity: 35%;
    z-index: 5;
    font-weight: 400;
}

.item:nth-of-type(3) .pf4 .pf4_bg .pf4_ypaint1{
    position: absolute;
    top: 44%;
    left: 17%;
    width: 71%;
    z-index: 2;
    transform: scaleY(-1);
}

.item:nth-of-type(3) .pf4 .pf4_bg .pf4_ypaint2{
    position: absolute;
    bottom: 39.8%;
    left: 31%;
    width: 45%;
    z-index: 2;
    transform: scaleY(-1);
}

.item:nth-of-type(3) .pf4 .pf4_bg .ypaint_hide1 {
    position: absolute;
    top: 45%;
    left: 16%;
    width: 70%;
    height: 10%;
    z-index: 4;
    background-color: white;
    cursor: none;
}

.item:nth-of-type(3) .pf4 .pf4_bg .ypaint_hide2 {
    position: absolute;
    bottom: 40%;
    left: 16%;
    width: 70%;
    height: 6%;
    z-index: 4;
    background-color: white;
    cursor: none;
}

.item:nth-of-type(3) .pf4 .pf4_bg .ypaint_hide3 {
    position: absolute;
    bottom: 6%;
    left: 98%;
    width: 75%;
    height: 79%;
    z-index: 4;
    background-color: white;
    cursor: none;
}

.item:nth-of-type(3) .pf4 .pf4_bg .smile {
    position: relative;
    position: absolute;
    /* top: 36.7%; */
    top: 48.7%;
    left: 44%;
    /* width: 50%; */
    height: 6%;
    z-index: 1;
    cursor: none;
    /* visibility: hidden; */
}

.item:nth-of-type(3) .pf4 .pf4_bg #smile1 {
    z-index: 3;
    cursor: none;
}

.item:nth-of-type(3) .pf4 .pf4_bg .cls-1 {
    z-index: 0;
}

.item:nth-of-type(3) .pf4 .pf4_bg .blind {
    z-index: 2;
    position: absolute;
    transform-origin: 15px 10px;
    visibility: hidden;
}

.item:nth-of-type(3) .pf4 .pf4_bg #smile2 {
    position: absolute;
    z-index: 1;
    cursor: none;
    transform-origin: 16px 25px;
    /* transform: scale(0); */
    /* visibility: hidden; */
}

@keyframes growsmile {
    0% { transform: scale(0); }
    75% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes backsmile {
    0% { transform: scale(1); }
    25% { transform: scale(0); }
    50% { transform: scale(0); }
    75% { transform: scale(0); }
    100% { transform: scale(0); }
}

/* @keyframes backsmile {
    0% { transform: scale(1); }
    100% { transform: scale(1); }
} */


.inner .pf4{position: relative; scroll-snap-align: center; height: 100vh;}
.inner .pf4 .pf4_bg{ position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; object-fit: cover; }
.inner .pf4 .pf4_1_img { position: absolute; left: 0; top: 0; z-index: 1; display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center; transform: scale(0.75); object-fit: cover;}
.inner .pf4 .pf4_2_img { position: absolute; left: 0; top: -3vh; z-index: 1; display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center; transform: scale(0.75); object-fit: cover;}
.inner .pf4 .pf4_3t_img { position: absolute; left: 0; bottom: 74vh; z-index: 1; display: flex; width: 100vw; object-fit: cover;}
.inner .pf4 .pf4_3_img { position: absolute; left: 0vw; top: 0; z-index: 1; display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center; transform: scale(0.75); object-fit: cover; margin-left: 3vw; margin-top: 0vw;}
.inner .pf4 .pf4_3b_img { position: absolute; left: 0; top: 67vh; z-index: 1; display: flex; width: 100vw; justify-content: center; align-items: center; object-fit: cover;}
.inner .pf4 .pf4_main {  position: relative; left: 19%; width: 19vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
.inner .pf4 .pf4_main .pf4_4_hp{ position: absolute; z-index: 10; width: 378px;}
.inner .pf4 .pf4_main .main_v { position: absolute; z-index: 1; margin-left: 3%; margin-bottom: 0.5%;}
.inner .pf4 .pf4_4_img {   z-index: 1; width: 21%; margin-right: 21%;}
.inner .pf4 .pf4_sub { position: relative; left: 62%; width: 19vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
.inner .pf4 .pf4_sub .pf4_5_hp{ position: absolute; z-index: 10; width: 378px;}
.inner .pf4 .pf4_sub .sub_v { position: absolute; z-index: 1; margin-left: 2%; margin-bottom: 0.5%;}
.inner .pf4 .pf4_5_img { z-index: 1; width: 21%; margin-left: 1%;}
.inner .pf4 .pf4_menu{ position: relative; left: 19%; width: 19vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
.inner .pf4 .pf4_menu .pf4_6_hp{ position: absolute; z-index: 10; width: 378px;}
.inner .pf4 .pf4_menu .menu_v{  position: absolute; z-index: 1; margin-left: 3%; margin-bottom: 0.5%;}
.inner .pf4 .pf4_6_img{ z-index: 1; width: 21%; margin-right: 21%;}

.inner .pf4 .pf4_7_img{  position: absolute; left: 0; top: 0; z-index: 1; display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center; transform: scale(0.6); object-fit: cover;}

.item:nth-of-type(3) .pf5 {
    position: relative;
}

.item:nth-of-type(3) .pf5 img:nth-child(1) {
    position: relative;
    width: 40vw;
    z-index: 10;
}

/* 
.item:nth-of-type(3) .pf5 {
    background-color: darkkhaki; 
}
*/

/* .item:nth-of-type(3) .pf5 img:nth-child(1) {
    position: relative;
    width: 960px;
    height: 730px;
    z-index: 10;
    /* background-color: darkkhaki; 
} */

.item:nth-of-type(3) .pf5 .movie2 { 
    position: relative;
    position: absolute;
    top: 4.4%;
    left: 2.9%;
    /* border: 5px dashed #777777; */
    /* object-fit: cover; */
    /* width: 1920px; */
    /* height: 1080px; */
    width: 37.5vw;
    height: 21.5vw;
    transform: scale(1);
    z-index: 15;
}

.item:nth-of-type(3) .pf5 .movie2 img { 
    /* zoom: 1.825; */
    position:absolute; 
    visibility:hidden;
    width:100%; 
    object-fit: cover;
    /* background-size: cover; */
    /* border:5px dashed #777777;  */
    height:100%; 
}



.item:nth-of-type(3) .pf_more {
    position: relative;
}

.item:nth-of-type(3) .more {
    position: relative;
    /* width: 320px;
    height: 675px; */
    /* background-color: darkkhaki; */
    perspective-origin: center;
    perspective: 400vw;
}

.item:nth-of-type(3) .more .pfmore_bg {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 13.5vw;
    height: 24vw;
    background-color: white;
    z-index: 0;
}

.item:nth-of-type(3) .pf_more img:nth-child(1) {
    position: relative;
    width: 15vw;
    z-index: 10;
    
}

.item:nth-of-type(3) .pf_more_img {
    position: absolute;
    top: 21.5%;
    left: 1%;
    width: 95%;
    z-index: 5;
}

.item:nth-of-type(3) .hover_runner {
    position: absolute;
    top: 21%;
    left: 2%;
    width: 95%;
    z-index: 1;
    display: none;
    opacity: 1;
}

@keyframes phgrow {
    0% { 
        transform: translateZ(0vw); 
    }
    50% { 
        transform: translateZ(0vw); 
    }
    100% { 
        transform: translateZ(399vw); 
    }
}

@keyframes congrow {
    0% { 
        transform: translateZ(0vw);
    }
    50% { 
        transform: translateZ(0vw); 
    }
    100% { 
        transform: translateZ(399vw); 
    }
}


/* .item:nth-of-type(2) img:nth-child(2) {
    width: 60%;
    opacity: 0;
} */

.item:nth-of-type(4) .wrapper2 {
    width: 100%;
    /* height: 6200px; */
    height: 100%;
    /* object-fit: cover; */
}
.item:nth-of-type(4) canvas {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* height: 1080px; */
    object-fit: cover;
}


/* #screen2 {    bottom: 1%; left: -0.1%;} */





footer { 
    position: relative;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid black;
    /* background: rgba(0, 0, 0, 0);  */
    background: rgba(255, 255, 255, 1);
    width: 100%; 
    visibility: hidden;
    z-index: 1000;
}

.footer_hide { 
    position: relative;
    position: fixed;
    bottom: -10vh;
    border-top: 2px solid black;
    /* background: rgba(0, 0, 0, 0);  */
    background: rgba(255, 255, 255, 1);
    width: 100%; 
    z-index: 1000;
}

footer .inner {
    position: relative;
    /* width: 1268px; */
    height: 70px;
    margin: 0 auto; 
    /* border: 2px dashed yellow; box-sizing: border-box; */
}

/* footer */

footer .inner p {
    /* margin-left: -20px; */
    padding-top: 27px;
    /* text-align: center; */
    font-family: 'Noto Sans KR';
    font-size: 11px;
    color: rgba(0, 0, 0, 1);
    padding-left: 1.5%;
}


#pf-nav {
    position: absolute;
    left: 9px;
    padding-left: 1%;
}

#pf-nav ul {
    margin: 0;
    padding: 0;
    /* width: 88px; */
    height: 70px;
    display: flex;
    align-items: center;
}

#pf-nav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}


/* #pf-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: none;
    text-decoration: none;
} */

#pf-nav ul li span{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    height: 7px;
    width: 7px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    /* margin: -2px 0 0 -2px; */
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    transform-origin: center;
}

.pf_nav_active{
    transform: scale(2);
    border-radius: 100%;
    transform-origin: center;
}

#pf-nav ul li[data-descr]:hover span {
    transform: scale(2);
    border-radius: 100%;
    transform-origin: center;
}


#pf-nav ul li:nth-child(1)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -6px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(2)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -24px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(3)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -31px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(4)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -40px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(5)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -18px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}
#pf-nav ul li:nth-child(6)[data-descr]:hover::after{ content: attr(data-descr); position: absolute; left: -20px; top: -10vh; /* min-width: 200px; */ /* border: 1px #aaaaaa solid; */ /* border-radius: 10px; */ background-color: transparent; padding: 12px; color: #000000; font-size: 14px; z-index: 1;}

/* #pf-nav ul li .pf-tooltip {
    top: -2px;
    color: black;
    font-size: 14px;
    font-family: 'SF Pro','Noto Sans KR';
    max-width: 220px;
    display: block;
    opacity: 0;
    cursor: pointer;
    width: 0;
} */


@keyframes footer_ani {
    0% {bottom: 0vh; }
    100% { bottom: -10vh; }
}




/* logo_ani */

.logo_ani { 
    /* position: relative;  */
    /* position: absolute;  */
    position: fixed; 
    /* border:5px dashed #777777;  */
    /* object-fit: cover; */
    /* width:1920px;  */
    /* height:1080px; */
    /* top: 14%; */
    /* background: black; */
    width:100%; 
    height:100%; 
    /* z-index: 1100; */
}
#logo_ani { 
    /* position: relative;  */
    /* position: absolute;  */
    position: fixed; 
    top:0%;
    bottom: 0%;
    left:0%;
    right: 0%;
    /* border:5px dashed #777777;  */
    /* object-fit: cover; */
    /* width:1920px;  */
    /* height:1080px; */
    /* top: 14%; */
    /* background: black; */
    width:100%; 
    height:100%; 
    /* z-index: 1100; */
    transform: scale(1.2);
}
.logo_ani img { 
    /* zoom: 1.825; */
    position:absolute; 
    visibility:hidden;
    width:100%; 
    object-fit: cover;
    /* background-size: cover; */
    /* border:5px dashed #777777;  */
    height:100%; 
}

/* hiden function menu */

footer .inner .hfm_btn{
    position: absolute;
    right: 0px;
    bottom: 25px;
    margin-right: 1.5%;
    /* cursor: pointer; */
    background: transparent;
    border: 0px;
}

.hfm_wrap{
    /* position: relative; */
    /* position: absolute; */
    /* width: 5.9vw; */
    /* height: 1.8vh; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.hfm1{
     /* position: absolute; */
    /* top: -2vh; */
    /* left: -6vw; */
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: black;
}

.hfm2{
    /* position: absolute; */
    /* top: -2vh; */
    /* left: 5.5vw; */
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: black;
}

.hfm3{
    /* position: absolute;  */
    /* top: -2vh; */
    /* left: 2vw; */
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: black;
}

.hfm_list {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 1.5vw;
    text-align: right;
}

.hfm_list li {
    font-family: 'Noto Sans KR';
    font-size: 0.5em;
    font-weight: 500;
    padding-bottom: 0.6vh;
    padding-top: 0.6vh;
    /* cursor: pointer; */
}


.mbh_h {
    position: fixed; 
    left: 0px; 
    top: 0px; 
    background: transparent;
    width: 100%;
    height: 7vh;
    z-index: 500;
    display: none;
}

.mbh_f {
    position: fixed;
    bottom: 0px;
    background: transparent;
    width: 100%; 
    height: 7vh;
    z-index: 500;
    display: none;
}


/* darkmode */


/* 
    .darkmode {
        position: absolute;
        right: 0px;
        bottom: 22px;
        background: white;
        border: 3px solid transparent;
        font-size: 11px; 
        padding-right: 1.5%;
    }
*/

.darkmode .invert {
    position: relative; 
	color: black; 
    font-size: 11px; 
    font-family: 'Noto Sans KR';
    font-weight: 500; 
	/* cursor: pointer; */
}
.darkmode .invert_text:hover{ 
    /* text-decoration: underline; */
    /* opacity: 0.5; */
}


/* sound */

#scrollsound {display: none;}

.startpop {
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    display: none;
}

/* 
.startpop .startinner .bgm_info {

}
*/



.startpop .startinner .bgm_info h3 {
position: absolute;
    /* left: 33.5%; */
    top: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro';
    font-size: 1.1vw;
    font-weight: 100;
    height: 4vh;
    width: 100vw;
    z-index: 10;
    /* margin-top: -9%; */
    letter-spacing: 0.2vw;
}

.startpop .startinner .bgm_info .btwrap {
    position: absolute;
    bottom: 37%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 4vh;
    width: 100vw;
    /* margin-top: 9%; */
    justify-content: center;
}



.startpop .startinner .bgm_info .btwrap button {
    font-family: 'SF Pro';
    border: 0px;
    font-size: 0.9vw;
    font-weight: 100;
    z-index: 100;
    background: white;
    letter-spacing: 0.2vw;
    cursor: none;
}

.startpop .startinner .bgm_info .btwrap #bgmstart{
    /* position: absolute;  */
    /* left: 42.5%; */
    margin-right: 5%;
}
.startpop .startinner .bgm_info .btwrap #closepop{
    /* position: absolute;  */
    /* right: 43%; */
}


#bgmstart:hover {
    font-family: 'SF Pro';
    border: 0px;
    font-size: 0.9vw;
    /* font-weight: 500; */
    /* cursor: pointer; */
    /* opacity: 0.5; */
}

#closepop:hover {
    font-family: 'SF Pro';
    border: 0px;
    font-size: 0.9vw;
    /* font-weight: 500; */
    /* cursor: pointer; */
    /* opacity: 0.5; */
}


.startpop .startinner .soundwave {
    position: absolute;
    top: 0%;
    left: 0%;
    /* border: 5px dashed #777777; */
    /* object-fit: cover; */
    /* width: 1920px; */
    /* height: 1080px; */
    width: 100vw;
    /* height: 21.5vw; */
    z-index: 1;
    /* transform: scale(1.2); */
    /* opacity: 0.3; */
}

.toolbar {
    visibility: hidden;
}


 /* 커스텀 커서 스타일 정의해주기 */
.cursor {
    width: 0.5rem;
    height: 0.5rem;
    /* border: 2px solid var(--color-texta); */
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: transform;
    /* transform-origin: 100% 100%; */
    transform-origin: center;
    backdrop-filter: invert(1);
    background-size: cover;
    z-index: 2000;
    display: none;
    cursor: none;
}


.pf_cursor {
    width: 0.5rem;
    height: 0.5rem;
    /* border: 2px solid var(--color-texta); */
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: transform;
    /* transform-origin: 100% 100%; */
    transform-origin: center;
    background-color: rgba(233,233,233,0.8);
    backdrop-filter: none;
    background-size: cover;
    z-index: 2000;
    cursor: none;
}

.cursor-grow {
    /* transform: scale(3.8)  translate(20%, 20%); */
    transform: scale(3.8);
    transform-origin: center;
    /* background-color: var(--color-texta); */
    cursor: none;
}


.click_ani {
    animation: cursor_click .7s backwards ;
}

.click_ani_hover {
    animation: cursor_click .7s forwards ;
}

@keyframes cursor_click {
    0% { transform: scale(1); transform-origin: center; cursor: none;}
    50% { transform: scale(3.8); transform-origin: center; cursor: none;}
    100% { transform: scale(1); transform-origin: center; cursor: none;}
}





/* loading */
.progress { position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; z-index: 1000; width: 100%; height: 100%; background: black; color: white; overflow: hidden; overflow-x: hidden; overflow-y: hidden; }
.progress-bar { position: absolute; left: 0; top: 50%; width: 0%; border-top: 1px solid rgba(255, 255, 255,1); }
.progress-text { position: absolute; left: 0; top: 49%; width: 100%; margin-top: 10px; font-size: 17px; text-align: center; }
.progress-complete .progress-bar { border-top-color: white; }



/* mediaquery */

/* @media all and (max-width:767px) { } */
/* @media all and (min-width:768px) and (max-width:1023px) {  } */
/* @media all and (min-width:1024px) and  (max-width:1440px) {}   PC */
/* @media all and (min-width:0px) and  (max-width:1201px) {  
    header {zoom:0.7}
    footer {zoom:0.7}
    .pop .inner .sc_al {
        display: block;
        visibility: visible;
    }
    .pop .inner .sheet {
        display: none;
    }

}   */


@media (pointer:fine) {
    .cursor {
        display: none;
    }
}

@media (pointer:coarse) {
    .cursor {
        display: none;
    }
}

@media (hover: none) {
    .cursor { display:none;}
}

@media all and (max-aspect-ratio:12/7.64) {  
    /* body {zoom:0.55} */
    .pop .inner .sc_al {
        display: block;
        visibility: visible;
        transform: scale(0.8);
    }
    .pop .inner .sheet {
        display: none;
    }

}  

@media all and (min-width:1041px) and  (max-width:1601px) {  
    /* body {zoom:0.55} */
    header {zoom:0.7}
    footer {zoom:0.7}
    .sec1 .visual img{
        /* bottom: auto; */
        /* top: 16%; */
    }

}  /* PC  */

@media(hover: hover) and (pointer: fine) {
}

/* @media all and (min-width:1601px) and  (max-width:1920px) {   body {zoom:0.7}} wide PC  */