body { font: 20px "맑은 고딕"; }
ul {list-style:none; padding:0; margin:0;}

#gnb {
    position: relative;
    margin: 0 auto; 
    /* overflow:hidden;  */
    width:603px; 
    height:50px; 
    /* border:2px dashed blue;  */
    z-index: 200;
}
/* #gnb:hover {height: 170px; transition: 1s;} */
#gnb:hover .sub {
    height: 120px;
}

#gnb .main { 
    position:relative; 
    float:left; 
    width:200px; 
    height:50px; 
    margin-right:1px; 
    background:skyblue; 
    /* z-index: 200; */
}
#gnb .sub { 
    overflow: hidden;
    position:absolute;
    height: 0px;
    left:0px; top:50px; 
    border: 2px dashed red;
    transition: 1s;
}
#gnb .sub li { width:200px; height:40px; background:yellow; }

#gnb .main:hover { background:red; }
#gnb .sub li:hover { background:orange; }

.bg_box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 100;
}
