
ul { list-style:none; padding:0; margin:0; }
body{ font:12px "나눔고딕"; color:#f7f7f7; }


#gnb1 li { 
    width:300px; 
	background:#777; padding:35px; margin-bottom:3px; text-align:center;
	border-radius:50px;box-shadow:10px 10px 20px rgba(0,0,0,0.1); opacity:0.9;
    transition:1s cubic-bezier(.32,.45,.58,.9)
}

/*
    linear(등속): 속도변화없음
    ease-in(가속): 서서히 빨라짐
    ease-out(감속): 서서히 느려짐
    ease-in-out(가속+감속)
    cubic-bezier(0,0,0,0): 직접 속도설정
*/



#gnb1 li:hover{ width:600px; padding: 100px; }



#gnb2 li { 
    width:300px; 
	background:#fc6;
	padding:35px; margin-bottom:3px; text-align:center;	
	border-radius:50px;box-shadow: 10px 10px 20px rgba(0,0,0,0.1);opacity:0.9;
    /* transition:1s; */
}
#gnb2 li:hover{ background:#0cc;}


/* http://cubic-bezier.com */
/* http://www.w3schools.com/cssref/css3_pr_transition.asp */
