body { 
	background-image:url(../images/pattern1.gif); 
	font-family:"나눔고딕", "맑은 고딕"; 
	font-size:14px; color:#333333;
}
h1 { font-size:50px; color:#ff9933; }
h2 { font-size:30px; color:#99cc99;}
p { 
    font-family:"바탕";
    line-height: 30px; /*줄간격*/
}
ul { list-style:none;}

a { color:#333333; text-decoration: none;}
a:hover { color:#ff9933; text-decoration:underline;}

.s1 { font-size:15px; color:#0066FF;}
.s2 { color:#ff9999;}

#header { width:700px; margin-bottom:50px; }
#contents{ width:700px; }
#footer{ width:700px; margin-top:50px; }