
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset */
html,body { width:100%; height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
body,h1,h2,h3,h4,input,button { font-size:12px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }
.blind {display: none;}

/* base */
body { color:#767676; font:14px/21px "Nanum Gothic"; }
a { text-decoration:none; color:#767676; }


/* layout */
header { position: relative; height: 50px; background:#f2df11;}
#container {  }
footer { height: 106px; background:#000	; }


/* header */
header h1 { 
	padding:10px; 
	font-size:24px; 
	border: 2px dashed blue;
	text-align: center;
}

header h1 a {
	color: #fff;
}

header nav .gnb_btn {
	position: absolute;
	left: 15px;
	top: 16px;
	border: 2px solid orange;
}
header .gnb .gnb_list {
	overflow: hidden;
	/* display: none; */ /*이것 때문에 작동 안했음.*/
	position: absolute;
	left: 0px;
	top: 50px;
	width: 100%;
	height: 10px;/* 210px */
	background: black;
	border: 2px dashed skyblue;
	
}

header .gnb .gnb_list li a { 
	display: block;
	padding-left: 25px;
	font-size: 18px;
	z-index: 200;
	padding-left: 25px;
	line-height: 41px;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/* container */

.main_visual img { width:100%; }

.quick_link { display: flex;  border: 3px dashed #0cc;}

.quick_link:after { content:""; display:block; clear:both; }

.quick_link li { flex: 1;  background:#ff6b66;}
.quick_link li:nth-child(2) { background:#d95b57; } 

.quick_link li a { 
	display: block; 
	line-height: 125px;
	text-align: center;
	color: #fff; 
	border: 3px solid yellow;
	font-size: 25px;
}

/* footer */

footer .copyright {
	color: white;
	font-size: 10px;
	font-weight:bold;
	text-align: center;
	border: 2px dashed yellow;
	line-height: 1em;
	padding-top: 47px;

}


