/* reset */
html, body { height:100%}
* {margin:0; padding:0;}
ul {list-style: none;}

/* base */
body { font-family: 'Roboto';}
a { text-decoration: none;}

/* layout */
.wrap {border: 10px solid #eee; }
.header { margin-bottom: 20px; border: 20px solid hotpink;}
.main {border: 15px dashed #fd0;}
.about {border: 15px dashed #fd0;}
.contact {border: 15px dashed #fd0;}
.footer { margin-top: 20px; border: 20px solid hotpink;}

/* header */
.gnb { border: 5px dashed #eee;}
.gnb ul {display: flex; justify-content: space-between;}
