@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family:'hana_pro'; src: url('../font/BMHANNAProOTF.woff') format('woff');}
@font-face { font-family:'hana_air'; src: url('../font/BMHANNAAir_otf.woff') format('woff');}

* {
    touch-action: manipulation; 
}

/*Eric mayor reset*/

body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd { margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 12px; line-height: 0;}
ul {list-style: none;}
img {border: 0; vertical-align: top; }


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
}

body {  
    /* zoom: 0.55;  */
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size:14px; 
    font-family:'Noto Sans KR'; 
    font-weight:500; 
    color:black; 
    /* display: none; */
}
a { text-decoration:none; color:black; }
.blind { position:absolute; top:-9999px; }

/* layout */
header { 
    position: fixed; 
    left: 0px; top: 0px; background: rgba(255, 255, 255, 1); width: 100%;
    /* height: 120px;  */
    border-bottom: 2px solid black;
    z-index: 1000;
}
header .inner { 
    position: relative;  
    /* max-width: 1352px;  */
    /* width: 1352px;  */
    /* width: 100%;  */
    height: 66px; 
    /* border-bottom: 4px solid black; */
    margin: 0 auto; 
    /* border: 2px dashed yellow; box-sizing: border-box;  */
}

/* header */
header ul {
    position: absolute; 
    right: 9px; 
    top: 26px;
    padding-right: 1%;
    /* border: 2px dashed yellow; box-sizing: border-box; */
} 

header a .logo {
    position: absolute; 
    left: 9px; 
    top: 16px; 
    padding-left: 1%;
    width: 105px;
}

header ul li {
    float: left;
    font-family: 'Noto Sans KR';
    font-size: 16.5px;
    font-weight: 500;
    /* border: 2px dashed yellow; box-sizing: border-box; */
    line-height: 1em;
}

header ul li:nth-child(1) { position: relative; padding-right:55px}
header ul li:nth-child(1) .hr_d1 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) { position: relative; padding-right:55px}
header ul li:nth-child(2) .hr_d2 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(2) .hr_d3 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) .hr_d4 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(2) .hr_d5 { 
    position: absolute;
    top: -5px;
    left: 52px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) { position: relative; padding-right:55px}
header ul li:nth-child(3) .hr_d6 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(3) .hr_d7 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d8 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d9 { 
    position: absolute;
    top: -5px;
    left: 52px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(3) .hr_d10 { 
    position: absolute;
    top: -5px;
    left: 66px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(4) { position: relative;}
header ul li:nth-child(4) .hr_d11 { 
    position: absolute;
    top: -5px;
    left: 6px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}

header ul li:nth-child(4) .hr_d12 { 
    position: absolute;
    top: -5px;
    left: 21px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}
header ul li:nth-child(4) .hr_d13 { 
    position: absolute;
    top: -5px;
    left: 36px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: black;
    visibility: hidden; 
}






#container {
    height: 100%;
}

.item {
    height: 100%;
    scroll-snap-align: start;
}


.item:nth-of-type(1) {
    background-color: white;
    height: 11000px;
}

.item:nth-of-type(1) h2 { 
    position:relative; 
    text-align: center;
    position: fixed; 
    left: 39.5%; 
    bottom: 48%;
    font-family: 'hana_pro'; 
    font-size: 2.45vw;
    line-height: 1em;
    margin-top: -14px;
    color: black;
}

.item:nth-of-type(1) .sec1 {
    margin-top: 5%;
    
}

.item:nth-of-type(1) .sec1 .visual img { 
    /* margin: 0 auto;  */
    width: 40%;
    position: fixed; 
    left: -30%; 
    bottom: 44%;
    /* transform: translate(-50%,-50%); */
    /* border: 2px dashed orange; box-sizing: border-box; */
}


.item:nth-of-type(1) .sec1 .typo { 
    position:relative; 
    text-align: center;
    position: fixed; 
    left: 34.5%; 
    bottom: 35%;
}
.item:nth-of-type(1) .sec1 .typo h3 { 
    font-family: 'hana_pro'; 
    font-size: 2.45vw; 
    line-height: 1em;
    margin-top: -14px;
    color: black;
    /* padding-top: 14px; */
    /* border: 2px dashed orange; box-sizing: border-box; */
}
.item:nth-of-type(1) .sec1 .typo p {
    font-family: 'hana_air'; 
    font-size: 1.6vw; 
    font-weight: 100;
    line-height: 1em;
    padding-top: 29px;
    color: rgba(0, 0, 0, 0.4);
    /* border: 2px dashed yellow; box-sizing: border-box; */
}

.item:nth-of-type(1) .sec1 .typo h3 span .kw1 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw2 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw3 { line-height: 0;}
.item:nth-of-type(1) .sec1 .typo h3 span .kw4 { line-height: 0;}


.item:nth-of-type(1) .sec2 .typo2 { 
    position:relative; 
    text-align: center;
    position: fixed; 
    left: 33.3%; 
    bottom: 43%;
}

.item:nth-of-type(1) .sec2 .typo2 h3 { 
    /* opacity: 0; */
    font-family: 'hana_pro'; 
    font-size: 8vw; 
    line-height: 1em;
    margin-top: -14px;
    font-size: 2.45vw;
    color: black; 
    /* padding-top: 14px; */
    /* border: 2px dashed orange; box-sizing: border-box; */
}
.item:nth-of-type(1) .sec2 .typo2 p {
    /* opacity: 0; */
    font-family: 'hana_air'; 
    font-size: 1.6vw; 
    font-weight: 100;
    line-height: 1em;
    padding-top: 59px;
    color: rgba(0, 0, 0, 0.4);
    /* border: 2px dashed yellow; box-sizing: border-box; */
}


.item:nth-of-type(1) .sec2 .typo2 .d1 { 
    /* opacity: 0; */
    position: absolute;
    top: -7%;
    left: 16.5%;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px

    
}

.item:nth-of-type(1) .sec2 .typo2 .d2 { 
    /* opacity: 0; */
    position: absolute;
    top: -7%;
    left: 22.8%;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px
}

.item:nth-of-type(1) .sec2 .typo2 .d3 { 
    /* opacity: 0; */
    position: absolute;
    top: -7%;
    right: 20.8%;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px
}

.item:nth-of-type(1) .sec2 .typo2 .d4 { 
    /* opacity: 0; */
    position: absolute;
    top: -7%;
    right: 14.5%;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 5.5px;
    background: black;
    margin-top: -14px
}

.item:nth-of-type(1) .sec2 .typo2 .d5 { 
    /* opacity: 0; */
    position: absolute;
    bottom: 37%;
    left: 30.8%;
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 3.5px;
    background: rgba(0,0,0,0.4);
}

.item:nth-of-type(1) .sec2 .typo2 .d6 { 
    /* opacity: 0; */
    position: absolute;
    bottom: 37%;
    left: 34.5%;
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 3.5px;
    background: rgba(0,0,0,0.4);
}


.bkbox {
    position: fixed;
    width: 100%;
    top: 100%;
    width: 100%;
    height: 1080px;
    background-color: black;
}


.item:nth-of-type(1) .wrapper {
    width: 100%;
    height: 9700px;
/* object-fit: cover; */
}
.item:nth-of-type(1) canvas {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* height: 1080px; */
    object-fit: cover;
}


.portfolio {
    background-color: white;
}


.item:nth-of-type(2) .pf1 {
    position: relative;
    position: fixed;
    bottom: 14%;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf1 img:nth-child(1) {
    width: 1343px;
    height: 755px;
    /* background-color: darkkhaki; */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

#pf1back {
    position: absolute;
    top: 48%;
    left: -12%;
    visibility: hidden;
    cursor: pointer;
}

#pf1next {
    position: absolute;    
    top: 48%;
    right: -12%;
    visibility: hidden;
    cursor: pointer;
}

#pf2back {
    position: absolute;
    top: 48%;
    left: -27%;
    visibility: hidden;
    z-index: 6;
    cursor: pointer;
}

#pf2next {
    position: absolute;    
    top: 48%;
    right: -27%;
    visibility: hidden;
    cursor: pointer;
}

#pf3back {
    position: absolute;
    top: 48%;
    left: -27%;
    visibility: hidden;
    cursor: pointer;
}

#pf3next {
    position: absolute;    
    top: 48%;
    right: -27%;
    visibility: hidden;
    cursor: pointer;
}
#pf4back {
    position: absolute;
    top: 48%;
    left: -128%;
    visibility: hidden;
    cursor: pointer;
}

#pf4next {
    position: absolute;    
    top: 48%;
    right: -128%;
    visibility: hidden;
    cursor: pointer;
}
#pf5back {
    position: absolute;
    top: 48%;
    left: -27%;
    visibility: hidden;
    cursor: pointer;
}

#pf5next {
    position: absolute;    
    top: 48%;
    right: -27%;
    visibility: hidden;
    cursor: pointer;
}

#pfmback {
    position: absolute;
    top: 48%;
    left: -128%;
    visibility: hidden;
    cursor: pointer;
}

#pfmnext {
    position: absolute;    
    top: 48%;
    right: -128%;
    visibility: hidden;
    cursor: pointer;
}

.item:nth-of-type(2) .pf2 {
    position: fixed;
    bottom: 14%;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf2 img:nth-child(1) {
    position: relative;
    width: 960px;
    height: 730px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf2 .pf2_bg {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 900px;
    height: 510px;
    background-color: rgba(240, 174, 0, 1);
    z-index: 5;
}

.item:nth-of-type(2) .pf2 .pf2_bg h3{
    position: absolute;
    top: 17%;
    right: 8%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: bold;
}

.item:nth-of-type(2) .pf2 .pf2_bg h3 span{
    font-weight: 100;
}

.item:nth-of-type(2) .pf2 .pf2_bg p{
    position: absolute;
    top: 27%;
    right: 9%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Noto Sans KR';
    font-size: 30px;
    font-weight: 100;
    opacity: 70%;
}
.item:nth-of-type(2) .pf2 .pf2_bg img{
    position: absolute;
    /* bottom: 0%;
    left: 0%; */
    bottom: -44%;
    left: -26%;
    width: 30%;
    z-index: 2;
}

.item:nth-of-type(2) .pf2 .pf2_bg .eye_hide1 {
    position: absolute;
    /* bottom: 0%;
    left: 0%; */
    bottom: -44%;
    left: -26%;
    width: 500px;
    height: 195px;
    z-index: 4;
    background-color: white;
    cursor: default;
}
.item:nth-of-type(2) .pf2 .pf2_bg .eye_hide2 {
    position: absolute;
    /* bottom: 0%;
    left: 0%; */
    bottom: -44%;
    left: -26%;
    width: 224px;
    height: 500px;
    z-index: 4;
    background-color: white;
    cursor: default;
}


.item:nth-of-type(2) .pf3 {
    position: fixed;
    bottom: 14%;
    /* background-color: darkkhaki; */
}
.item:nth-of-type(2) .pf3 img:nth-child(1) {
    position: relative;
    width: 960px;
    height: 730px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf3 .movie1 { 
    /* position: relative;  */
    position: absolute; 
    top: 4%;
    left: 4%;
    /* border:5px dashed #777777;  */
    /* object-fit: cover; */
    /* width:1920px;  */
    /* height:1080px; */
    width: 93%;
    height: 72%;
    z-index: 5;
    
}

.item:nth-of-type(2) .pf3 .movie1 img { 
    /* zoom: 1.825; */
    position:absolute; 
    visibility:hidden;
    width:100%; 
    object-fit: cover;
    /* background-size: cover; */
    /* border:5px dashed #777777;  */
    height:100%; 
}


.item:nth-of-type(2) .pf4 {
    position: fixed;
    bottom: 18%;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf4 img:nth-child(1) {
    position: relative;
    width: 320px;
    height: 675px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf4 .pf4_bg .pf4bg {
    position: absolute;
    top: 12%;
    left: 7%;
    width: 280px;
    height: 511px;
    background-color: white;
    z-index: 0;
}

.item:nth-of-type(2) .pf4 .pf4_bg .hss_logo{
    position: absolute;
    bottom: 1.5%;
    left: 23%;
    width: 56%;
    z-index: 5;
}
.item:nth-of-type(2) .pf4 .pf4_bg .pf4_subp{
    position: absolute;
    bottom: 41.5%;
    left: 36.8%;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Noto Sans KR';
    /* font-family: 'OTEnjoystoriesBA'; */
    font-size: 14px;
    /* opacity: 70%; */
    opacity: 35%;
    z-index: 5;
    font-weight: 400;
}

.item:nth-of-type(2) .pf4 .pf4_bg .pf4_ypaint1{
    position: absolute;
    top: 44%;
    left: 17%;
    width: 71%;
    z-index: 2;
    transform: scaleY(-1);
}

.item:nth-of-type(2) .pf4 .pf4_bg .pf4_ypaint2{
    position: absolute;
    bottom: 39.8%;
    left: 31%;
    width: 45%;
    z-index: 2;
    transform: scaleY(-1);
}

.item:nth-of-type(2) .pf4 .pf4_bg .ypaint_hide1 {
    position: absolute;
    top: 45%;
    left: 16%;
    width: 70%;
    height: 10%;
    z-index: 4;
    background-color: white;
    cursor: default;
}

.item:nth-of-type(2) .pf4 .pf4_bg .ypaint_hide2 {
    position: absolute;
    bottom: 40%;
    left: 16%;
    width: 70%;
    height: 6%;
    z-index: 4;
    background-color: white;
    cursor: default;
}

.item:nth-of-type(2) .pf4 .pf4_bg .ypaint_hide3 {
    position: absolute;
    bottom: 40%;
    left: 98%;
    width: 75%;
    height: 23%;
    z-index: 4;
    background-color: white;
    cursor: default;
}

.item:nth-of-type(2) .pf4 .pf4_bg .smile {
    position: relative;
    position: absolute;
    /* top: 36.7%; */
    top: 48.7%;
    left: 44%;
    /* width: 50%; */
    height: 6%;
    z-index: 1;
    cursor: default;
    /* visibility: hidden; */
}

.item:nth-of-type(2) .pf4 .pf4_bg #smile1 {
    z-index: 3;
    cursor: default;
}

.item:nth-of-type(2) .pf4 .pf4_bg .cls-1 {
    z-index: 0;
}

.item:nth-of-type(2) .pf4 .pf4_bg .blind {
    z-index: 2;
    position: absolute;
    transform-origin: 15px 10px;
    visibility: hidden;
}

.item:nth-of-type(2) .pf4 .pf4_bg #smile2 {
    position: absolute;
    z-index: 1;
    cursor: default;
    transform-origin: 16px 25px;
    /* transform: scale(0); */
    /* visibility: hidden; */
}

@keyframes growsmile {
    0% { transform: scale(0); }
    75% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes backsmile {
    0% { transform: scale(1); }
    100% { transform: scale(1); }
}


.item:nth-of-type(2) .pf5 {
    position: fixed;
    bottom: 14%;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf5 img:nth-child(1) {
    position: relative;
    width: 960px;
    height: 730px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf5 {
    position: fixed;
    bottom: 14%;
    /* background-color: darkkhaki; */
}
.item:nth-of-type(2) .pf5 img:nth-child(1) {
    position: relative;
    width: 960px;
    height: 730px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf5 .movie2 { 
    /* position: relative; */
    position: absolute;
    top: 5%;
    left: 4%;
    /* border: 5px dashed #777777; */
    /* object-fit: cover; */
    /* width: 1920px; */
    /* height: 1080px; */
    width: 93%;
    height: 69%;
    z-index: 5;
}

.item:nth-of-type(2) .pf5 .movie2 img { 
    /* zoom: 1.825; */
    position:absolute; 
    visibility:hidden;
    width:100%; 
    object-fit: cover;
    /* background-size: cover; */
    /* border:5px dashed #777777;  */
    height:100%; 
}



.item:nth-of-type(2) .pf_more {
    position: fixed;
    bottom: 18%;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .more {
    position: relative;
    width: 320px;
    height: 675px;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .more .pfmore_bg {
    position: absolute;
    top: 12%;
    left: 7%;
    width: 280px;
    height: 511px;
    background-color: white;
    z-index: 0;
}

.item:nth-of-type(2) .more img:nth-child(1) {
    position: absolute;
    width: 320px;
    height: 675px;
    z-index: 10;
    /* background-color: darkkhaki; */
}

.item:nth-of-type(2) .pf_more_img {
    position: absolute;
    top: 21%;
    left: 2%;
    width: 95%;
    z-index: 5;
}


/* .item:nth-of-type(2) img:nth-child(2) {
    width: 60%;
    opacity: 0;
} */

.item:nth-of-type(3) .wrapper2 {
    width: 100%;
    height: 6300px;
    /* object-fit: cover; */
}
.item:nth-of-type(3) canvas {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* height: 1080px; */
    object-fit: cover;
}








footer { 
    position: relative;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid black;
    background: rgba(0, 0, 0, 0); 
    background: rgba(255, 255, 255, 1);
    width: 100%; 
}

footer .inner {
    position: relative;
    /* width: 1268px; */
    height: 70px;
    margin: 0 auto; 
    /* border: 2px dashed yellow; box-sizing: border-box; */
}

/* footer */

footer .inner p {
    /* margin-left: -20px; */
    padding-top: 27px;
    /* text-align: center; */
    font-family: 'Noto Sans KR';
    font-size: 11px;
    color: rgba(0, 0, 0, 1);
    padding-left: 1.5%;
}


/* darkmode */



.darkmode {
    /* position: fixed; */
    position: absolute;
    right: 0px;
    bottom: 22px;
    background: white;
    /* width: 170px; */
    /* height: 100px; */
    border: 3px solid transparent;
    /* border: 3px solid black; */
    font-size: 11px; 
    padding-right: 1.5%;
}

.darkmode .invert {
    position: relative; 
	color: black; 
    font-size: 11px; 
    font-family: 'Noto Sans KR';
    font-weight: 500; 
	cursor: pointer;
}
.darkmode .invert_text:hover{ text-decoration: underline;}


