/* reset */
* { margin:0; padding:0; }
html,body { height:100%; } 
ul {
	list-style: none;
}

/* base */
body {
    font: 14px;
    background-color: turquoise;
    color: white;
}

/* layout*/
#header {
    height: 70px;
    border: 5px dashed yellow;
}
#visual {
    height: 500px;
    border: 5px dashed yellow;
}
#contents {
    margin: 0 auto;
    width: 1200px;
    height: 300px;
    border: 5px dashed yellow;
}
#footer {
    height: 50px;
    border: 5px dashed yellow;
}

/*header */

h1 {
    padding-top: 15px;
    padding-left: 20px;
}

.gnb {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 20px;
    background: #000;
}
.gnb li {
    /* float: left; */
    font-size:20px;
}

/* visual */

#visual p {
    z-index: 100;
    font-size: 20px;
    text-align: center;
}
#visual p:nth-child(1) {
    font-family: 'Roboto';
    padding-top: 100px;
    font-size: 200px;
    font-weight: 100;
    letter-spacing: 10px;
}
#visual p:first-child span {
    font-weight: 800;
}

/* footer */

#footer p {
    text-align: center;
}

/* bg */
.bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -10;
}
/*
    position요소의 z-index값을 -로 설정하면
    일반요소 밑에 깔린다.
*/

.bg video {
    width: 100%;
}