@import url(common.css);

	/* Accessories */


		/* sub1-1 */
		.a_img1 { float:left; margin-top:6px; margin-right:15px; }
			 /* float요소의 다음 상자는 밑에 깔리지만 "텍스트는 깔리지않고" 남는 공간에 밀려든다	 */
		.a_img2 { float:right; margin-top:5px; margin-left:15px; }


		/* sub1-2 */
		table.a_t1 { 
			border-collapse:collapse;
			/* 테이블과 각 칸의 겹쳐진 라인이 하나로 통합 */

			width:100%;
			font-size:50px;
			margin-bottom:20px;
			text-align:center;
			border:10px solid blue; 
		}
		table.a_t1 td { border:1px solid orange; }


		/* sub1-3 */
		dl.a_d1 { 
			margin-bottom:20px; 
			border-top:20px solid black; 
			border-bottom:20px solid black; 
		}
		dl.a_d1 dt { font-size:50px; font-style:italic; }
		dl.a_d1 dd { font-size:20px; }




