@import url(common.css);


	/* Sale */

		/* sub5-1 */
		.s_img1 { width:100%; border-bottom-left-radius:100%; margin-bottom:-90px; }
		.s_img1_1 { width:100%; border-top-right-radius:100%; margin-bottom:20px; }














