/*Eric mayor reset */

body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd { 
    margin: 0; padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 12px;
}

ul {
    list-style: none;
}

img {
    border: 0; /* ie(인터넷 익스플로러) 하위버전에서 이미지에 링크시 테두리가 생기는걸 방지*/
    vertical-align: top; /* 크롬 등 일부 브러우저에서 이미지 배열시 생기는 공백오류를 방지*/
}

/* basic */

a { color:black; text-decoration:none; transition: 1s;}
a:hover {opacity: 0.5;}


/*	focus(포커스) : 링크(a태그)나 폼요소가 선택되어진 상태 */
.skip_navigation a {
    
    position:absolute; 
    top:-9999px; 
} 
.skip_navigation a:focus { 
    transition: 0.3s;
    left:0px; 
    top:0px; 
    background-color:black; 
    color:white; 
    width:100%; 
    text-align:center; 
}

/* header */
#header {
    width: 100%;
    height: 193px;
    background-image: url(../images/header.png);
    
}
#header #inner {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    /* border:1px dashed lightgray; */
    /* border-bottom: 3px solid rgba(0, 0, 0, 1); */
}

#header #inner .logo_wrap {
    position: absolute;
    left: 0px; top: 20px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    /* border: 1px dashed red; */
}

#logo {
    position: absolute;
    left: 0px; top: 0px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    animation: logo 1s;
    /* border: 1px dashed red; */
}

@keyframes logo {
    0% { top: 100px;}
    100% { top: 0px;}
}



#tgnb {
    position: absolute;
    right:0px; top: 30px;
}



#tgnb ul {  
    float: left;
}

#tgnb ul li{
    float: left;
    margin-left: 15px;
}
#tgnb .login {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    width: 52px;
    height: 29px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;

}



#tgnb .login a { 
    color: rgba(255, 255, 255, 1);
}

#tgnb .material-icons a {
    font-size: 33px;
}


#gnb {
    position: absolute;
    right: 0px; top: 88px;
    float: right;
    font-family: 'Roboto';
    font-weight: bold;
}

#gnb ul li {
    float: left;
    padding-left: 100px;
}

/* visual */

#visual {
    margin: 0 auto;
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* width: 1920px; */
    /* width: 100%; */
    height: 648px;
}



#visual #inner {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 648px;
    /* border: 2px dashed lightgray; */
}

#visual #inner p:nth-child(1) {
    position: absolute;
    /* left: -10px; */
    font-family: 'Gulim';
    font-size: 87px;
    letter-spacing: 0px;
    line-height: 80px;
    margin-top: 154px;
    margin-left: -10px;
    /* background-color: lightgray; */
    width: 725px;
    height: 82px;
    animation: p1 1s;
}

@keyframes p1 {
    0% {opacity: 0%; font-size: 0px;}
    50% {opacity: 0%;}
    100% {opacity: 100%; font-size: 87px;}
}


#visual #inner p:nth-child(2) {
    position: absolute;
    margin-top: 262px;
    margin-left: -5px;
    font-family: 'Gulim';
    font-size: 115px;
    font-weight: 100;
    /* background-color: lightgray; */
    width: 510px;
    height: 102px;
    animation: p2 1s;
}

@keyframes p2 {
    0% {opacity: 0%; font-size: 0px;}
    50% {opacity: 0%;}
    100% {opacity: 100%; font-size: 115px;}
}

#visual #inner p:nth-child(3) {
    position: absolute;
    font-family: 'Gulim';
    font-size: 26px;
    font-weight: 100;
    margin-top: 431px;
    /* background-color: lightgray; */
    width: 492px;
    height: 60px;
    animation: p3 2s;
}

@keyframes p3 {
    0% {opacity: 0%; font-size: 0px;}
    33% {opacity: 0%;}
    66% {opacity: 0%;}
    100% {opacity: 100%; font-size: 26px;}
}

/* contents */

#contents {
    position: relative;
    margin: 0 auto;
    /* border: 2px dashed lightgray; */
    width: 1200px;
    height: 594px;
    margin-bottom: 48px;
}
#contents:after {
    content: "";
    display: block;
    clear: both;
}


#contents #group1 {
    position: absolute;
    margin-top: 12px;
    /* background-color: lightgray; */
    width: 1200px;
    height: 291px;
    animation: a1 1s;
}


#contents #group1 .b1, .b2, .b3 {
    float: left;
    margin-right: 12px;
}





#contents #group2 {
    position: absolute;
    left: 0px;
    top: 304px;
    margin-top: 12px;
    margin-bottom: 48px;
    /* background-color: lightgray; */
    width: 1200px;
    height: 291px;
}

#contents #group2 .b5, .b6{
    float: left;
    padding-right: 12px;
}

#contents img {
    overflow: hidden;
}

#contents img:hover {
    transition: 1s;
    /* transform: scale(1.1,1.1); */
}


#footer {
    /* position: relative; */
    margin: 0 auto;
    background-image: url(../images/footer.png);
    height: 181px;
}

#footer #inner {
    /* position: absolute; */
    margin: 0 auto;
    /* padding-top: 60px; */
    /* border: 2px dashed lightgray; */
    width: 1200px;
    height: 181px;
    color: white;
}

#footer p:nth-child(1) {
    padding-top: 60px;
}
#footer p:nth-child(2) {
    padding-top: 11px;
}