body { font-family:"나눔고딕"; font-size: 12px; }

#wrap { margin:0 auto; width:900px;  border: 3px dashed #ccc; }

#header { position:relative; height:100px; margin-bottom:15px; background-color: #eee; }
#visual { height:300px; margin-bottom:15px; background-color:#eee; }

#contents {  
    position: relative;
    height:100px; 
    margin-bottom:15px; 
    background-color: #eee; 
}
#footer { height:100px; background-color:#eee; }



#logo { 
    position: absolute; 
    left: 0px; top: 0px;
    z-index: 11;
    width:80px; 
    height:50px; 
    background-color:yellow; 
}
#menu {
    position: absolute; 
    left: 650px; top: 0px;
    z-index: 10; 
    width:250px; 
    height:30px; 
    background-color:yellowgreen; 
}

#section1 { 
    position: absolute;
    left: 0px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:skyblue; 
}

#section2 { 
    position: absolute;
    left: 300px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:lightblue; 
}

#section3 { 
    position: absolute;
    left: 600px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:skyblue; }