body { font-family:"나눔고딕"; font-size:12px; }


#header { 
    position: relative;
    height:100px; 
    margin-bottom:15px; 
    background-color:#eee; 
    border:2px dashed #999; 
}
#header .inner { margin:0 auto; width:900px; height:96px; background-color:#ddd; }

#visual { height:300px; margin-bottom:15px; background-color:#eee; }
#contents {
    position: relative;
    margin:0 auto;  
    width:900px; 
    height: 100px; 
    margin-bottom: 15px; 
    background-color: #eee; 
    border: 2px dashed #999; 
}
/*
    position: absolute가 설정된 자식들의 높이를
    부모요소에서 자동으로 인식하여 감싸지 못한다.
    따라서 부모에게 높이값을 직접 지정해주어야한다. 
*/

#footer { height: 100px; margin-bottom: 15px; background-color: #eee; border: 2px dashed #999; }
#footer .inner { margin:0 auto; width:900px; height: 96px; background-color: #ddd; }



#logo {  
    position: absolute; 
    left: 40px; top: 0px;
    width: 80px; 
    height: 50px; 
    background-color:yellow; 
}
#menu {  
    position: absolute;
    left: 690px; top: 0px;
    width: 250px; 
    height: 30px; 
    background-color:yellowgreen; 
}

#section1 {
    position: absolute;
    left: 0px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:pink; 
}

#section2 { 
    position: absolute;
    left: 300px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:hotpink; 
}

#section3 { 
    position: absolute;
    left: 600px; top: 0px;
    float:left; 
    width:300px; 
    height:100px; 
    background-color:pink; 
}
