body { font-family:"맑은 고딕"; }

.blind {
    position:absolute;
    top: -999999999999px;
}
fieldset {
    border: 0;
}

.join #f1 {

    outline: 0;
}
/* 포커스되었을때 생기는 테두리 */

.join #f2 {
    border: 0;
    border-bottom: 2px solid lightgray;
}
.join #f2:focus {
    border: 5px solid yellowgreen;
    transition: 1s;
    border-radius: 15px;
    padding-left: 5px;
}


/* 
    focus(포커스) : 링크(a태그)나 폼요소가 선택되어진 상태 
*/

.search #t1 {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-right: 0;
}
/*
    인라인요소에게 
    float 또는 position:absolute/fixed가
    설정되면 블록요소가 된다.
*/

/* 안쪽테두리 */
.search #t2 {
    width: 50px;
    height: 30px;
    border: 0;
    background-color: #0cc;
    color: white;
}

.search input {
    float: left;
}

.search2 input{
    float: left;
}
.search2 #t1 {
    background-image: url(../images/search.jpg);
    border:0;
    height: 37px;

}