body { font-family:"맑은 고딕"; }

.blind {
    position:absolute;
    top: -999999999999px;
}
fieldset {
    border: 0;
}

.join #f1 {
    width: 300px;
    font-size: 30px;
    color: gray;
    background-color: lightgray;
    border: 5px solid gray;
    outline: 0;
}
/* 포커스되었을때 생기는 테두리 */

.join #f2 {
    border: 0;
    border-bottom: 2px solid lightgray;
}