
/* reset */
html,body { height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
h1,h2,h3,h4 { font-size:12px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }

/* base */
body { 
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

a { 
    color: #333;
    text-decoration: none;
}

a:hover {color: #0cc;}

.blind {
    position: absolute;
    left: 0px;
    top: -99999px;
}

.skip_navigation a {
    position: absolute;
    left: 0px;
    top: -9999px;
    z-index: 1000;
    background-color: black;
}

.skip_navigation a:focus {
    top:0;
    width: 100%;
    color: white;
    text-align: center;
    outline: none;
}


/* layout */
#header { 
    position: fixed;
    left: 0px; 
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}
#header .inner {
    position: relative; 
    margin: 0 auto;
    width: 1280px;
    height: 100px;
    /* border: 2px dashed white; */
}

#visual { 
    /* background-color: pink; */
}
#container {
    /* border: 5px dashed black; */
}
#container #trend {
    /* background-color: yellowgreen; */
}

#trend  .inner {
    margin: 0 auto;
    width: 1280px;
    /* border: 5px dashed orange; */
    padding-top: 116px;
    padding-bottom: 140px;
}


#container #magazine {
    background-color: rgb(227, 218, 184);
}

#magazine  .inner {
    margin: 0 auto;
    width: 1280px;
    /* border: 5px dashed skyblue; */
    padding-top: 116px;
    padding-bottom: 140px;
}

#container #social {
    background-color: #bccab4;;
}

#social  .inner {
    margin: 0 auto;
    width: 1280px;
    /* height: 414px; */
    /* border: 5px dashed blue; */
    padding-top: 116px;
    padding-bottom: 140px;
}
#footer { /*height: 659px;*/ background-color: black;}
#footer  .inner {
    margin: 0 auto;
    width: 1280px;
    height: 659px;
    /* border: 5px dashed white; */
}

/* header */

h1 { 
    position: absolute;
    left: 0px; 
    top: 17px;
    width: 102px; 
    height: 67px; 
    /* background-color: #0cc; */
    /* padding-top: 17px; */
    
}

.gnb { 
    position: absolute;
    left: 309px; 
    top: 45px;
    width: 772px; /* 193 * 4(main메뉴개수)*/
    /* height: 414px;  */
    /* background-color: orange; */
    /* padding-top: 17px; */ 
    /* border: 3px dashed blue; */
}

.gnb > ul { 
    display: flex;
    justify-content: space-between; /*양쪽 끝으로 맞추는 것*/
} /* li의 부모에 flex하면 가로배열 됨*/

/* 
    justify-content 값
    flex-start/flex-end/center
    space-between 사이 간격을 일정하게 한다. (양끝은 간격없음)
*/

.gnb ul li { 
    line-height: 1em; /* 줄간격 초기화 1em=100% --> 폰트크기와 같아짐*/
    /* border: 1px dashed yellow;  */
}

.gnb ul li a {
    color: white;
    font-weight: 400;
}


.gnb ul li a:hover {
    color: yellow;
}


.gnb .main {
    /* border: 2px solid hotpink; */
    width:193px
}

.gnb .main:hover > a {
    color:yellow;
}


.gnb .sub {
    /* display: none; */
    position: relative;
    top: 34px;
    transition: 0.5s;
    overflow: hidden;
    /* padding-top: 60px;  */
    /* border: 2px dashed orange; */
    height: 0px;
    
}

.gnb .sub li {
    height: 31px; 
    /* border: 2px dashed skyblue; */
}
.gnb .sub li:first-child { 
    padding-top:60px; 
    border:2px dashed green; 
}

.gnb .sub li a { 
    font-weight: 300; 
    font-size: 14px;
    counter-reset: #fff;
}

/* 

.gnb:hover .sub {
    display: block;
    height: 350px;
    padding-top: 60px; 
}
.gnb:hover ~ .gnb_bgbox {
    display: block;
    height: 414px;
}

*/

/* .gnb_bgbox:hover {
    display: block;
    height: 453px;
} */

.gnb_bgbox {
    transition: 0.5s;
    /* display: none; */
    position: absolute;
    z-index: -10;
    /* left: -320px; */
    top: 100px;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}



.util {
    position: absolute;
    right: 0px; 
    top: 40px;
    width: 175px;
    height: 25px;
    /* background-color: yellowgreen; */
    /* border: 2px dashed yellow; */
    display: flex;
}


.util li {
    /* border: 3px solid skyblue; */
}

.util li:nth-child(1){
    padding-right: 13px;
}

.util li input{
    float: left; /* 폼요소간의 수직어긋남을 맞춤*/
}
/* input form 영역은 float으로 제어해야 딱 맞는다. */
.util li #t1 {
    width: 113px;
    height: 23px;
    background: none;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 2px solid #c7c7c7;
    outline: none; /* focus시 생기는 라인 사용안함 */
    color: white;
}

.util .icon {
    opacity: 0.7;
}


/* visual */

#visual img {
    width: 100%;
    background-position: center;
}
/* 가변이미지에는 높이를 넣으면 안된다. */


/* container > trend */
#trend h2 {
    /* border: 2px solid yellow; */
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
}

#trend ul {
    display: flex;
    justify-content: space-between;
}
/* 
    flex-start 앞 기준 정렬
    flex-end 끝 기준 정렬
    center 가운데 정렬 
    space-around 일정한 간격(양끝 간격이 반작음)  
    space-evenly 일정한 간격(양끝도 간격있음)
    space-between 간격일정
*/

#trend ul li {
    width: 250px;
    height: 288px;
    /* background-color: pink; */
}

#trend ul li img {
    border-radius: 50%;
    /* box-shadow: 3px 3px 20px rgba(0,0,0,0.3); */
    /* border: 2px dashed orange; */ 
    transition: 0.5s;
}

#trend ul li img:hover {
    transform: scale(1.05,1.05);
    /* box-shadow: 3px 3px 20px rgba(0,0,0,0.3); */
    border-radius: 50%;
    z-index: -1;
}
#trend ul li a{
    transition: 0.5s;
}
#trend ul li a:hover img {
    transform: scale(1.05,1.05);
}

#trend ul li a:hover {
    color: orange;
}

#trend p {
    text-align:  center;
    padding-top: 15px;
    font-weight: 400px;
}

/* container > magazine */

#magazine h2 {
    /* border: 2px solid yellow; */
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
    padding-bottom: 10px;
}
#magazine h2 span{
    display: block;
    padding-top: 10px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;

}

#magazine ul {
    display: flex;
    justify-content: space-between;
}

#magazine ul li {
    width: 380px;
    height: 634px;
    background-color: white;
    text-align: center;
}

#magazine ul li h3 {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 12px;
    line-height: 1em;
    /* border: 2px dashed blue; */
}

#magazine ul li p {
    /* border: 2px dashed skyblue; */
    line-height: 24px;
    padding-left: 70px;
    padding-right: 70px;
    transition: 0.5s;

}
#magazine ul li a,h3{
    transition: 0.5s;
}
#magazine ul li a:hover h3{
    color: #111;
    letter-spacing: 1px;
    transform: scale(1.1,1.1);
}

#magazine ul li a:hover p {
    color: orange;
}
#magazine ul li a:hover img {
    filter: hue-rotate(-20deg);
}

/* container > social */

#social h2 {
    /* border: 2px solid yellow; */
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
    padding-bottom: 10px;
    color: white;
}
#social h2 span{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;

}

#social .inner > ul {
    display: flex;
    justify-content: space-between;
}

#social .inner > ul { 
    display:flex; 
    justify-content:space-between; 
}

#social ul li.youtube {
    width: 781px;
    height: 437px;
    /* background-color: yellow; */
}


#social ul li.tabmenu {
    width: 450px;
    height: 437px;
    /* background-color: yellow; */
}

#social .tabmenu .tab_mn {
    display: flex; 
    /* border: 2px dashed red; */
}
#social .tabmenu .tab_mn li {
    /* border: 3px solid pink; */
}
#social .tabmenu .tab_mn li a {
    display: block; /* a태그같은 인라인요소는 width/height 적용안되므로 블록요소로 변경 */
    width: 161px;
    line-height: 60px;
    margin-right: 1px;
    text-align: center;
    font-weight: 900;
    /* border: 2px dashed blue; */
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    background-color: white;
    color: #bccab4;
}

#social .tabmenu .tab_mn li:nth-child(2) a {
    background-color: rgba(255, 255, 255, 0.5);
}

#social .tab_con > li {
    width: 360px;
    height: 331px;
    background-color: white;
    /* border: 2px dashed blue; */
    border-bottom-left-radius: 47px;
    border-top-right-radius: 47px;
    font-size: 14px;
    padding-top: 46px;
    padding-left: 43px;
    padding-right: 47px;    
    /* background-color: white;  제어가 안되는 이유는 아래 id로 세부 제어흘 하고 있음. background에 자체로 배경색 제어할 수 있는 변수가 있음. */
}

#social .tab_con > li#con1 {
    background: url(../images/so_facebook.jpg) no-repeat right bottom white;
}

#social .tab_con > li#con2 {
    display: none;
    background: url(../images/so_twitter.jpg) no-repeat right bottom white;
}
#social .tab_con > li ul li {
    /* border: 1px dashed hotpink; */
    margin-bottom: 25px;
}

#social .tab_con > li ul li a {
    color: black;
    background-color: white;
    font-weight:300;
    line-height: 24px;
} 

#social .tab_con > li ul li a span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

/* footer */

.sitemap {
    display: flex;
    padding-top: 83px;
    padding-bottom: 34px;
    /* border: 2px dashed ivory; */
}


.sitemap div {
    /* border: 1px dashed ivory; */
}

.sm1,.sm2,.sm3 {
    width: 356px;
}

.sitemap div h3 {
    color: white;   
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    /* border: 2px dashed orange; */
    height: 38px;
}
.sitemap div ul li {
    /* border: 1px dashed ivory; */
    line-height: 1em;
    height: 30px;
    font-size: 14px;
}


.sitemap div a {
    color: #b4b4b4; ;
}


.sitemap div.sm4 h3 {
    height: 92px;
}

.sitemap div.sm4 h3 span {
    display: block;
    font-size: 14px;
    padding-top: 14px;
    font-weight: 300;;
}


/* info */

.info ul {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.info ul li {
    /* margin-right: 63px; */
    width: 90px;
    /* border: 1px dashed salmon; */
    text-align: center;
}

.info p {
    color: #b4b4b4; ;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    /* border: 2px dashed skyblue; */
    padding-bottom: 22px;
}

.info .f_logo {
    /* border: 3px solid orange; */
    text-align: center;
}