
/* reset */
html,body { height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
h1,h2,h3,h4 { font-size:12px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }

/* base */
body { 
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

a { 
    color: #333;
    text-decoration: none;
}

.blind {
    position: absolute;
    left: 0px;
    top: -99999px;
}

/* layout */
#header { 
    position: fixed;
    left: 0px; 
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#header .inner {
    position: relative; 
    margin: 0 auto;
    width: 1280px;
    height: 100px;
    border: 2px dashed white;
}

#visual { 
    background-color: pink;
}
#container {border: 5px dashed black;}
#container #trend {background-color: yellowgreen;}

#trend  .inner {
    margin: 0 auto;
    width: 1280px;
    border: 5px dashed orange;
    padding-top: 116px;
    padding-bottom: 140px;
}


#container #magazine {background-color: rgb(224, 224, 172);}

#magazine  .inner {
    margin: 0 auto;
    width: 1280px;
    border: 5px dashed skyblue;
    padding-top: 116px;
    padding-bottom: 140px;
}

#container #social {background-color: yellowgreen;}

#social  .inner {
    margin: 0 auto;
    width: 1280px;
    border: 5px dashed blue;
    padding-top: 116px;
    padding-bottom: 140px;
}
#footer { /*height: 659px;*/ background-color: gray;}
#footer  .inner {
    margin: 0 auto;
    width: 1280px;
    height: 659px;
    border: 5px dashed white;
}

/* header */

h1 { 
    position: absolute;
    left: 0px; 
    top: 17px;
    width: 102px; 
    height: 67px; 
    /* background-color: #0cc; */
    /* padding-top: 17px; */
    
}

.gnb { 
    position: absolute;
    left: 306px; 
    top: 45px;
    width: 612px; 
    height: 18px; 
    /* background-color: orange; */
    /* padding-top: 17px; */ 
}

.gnb ul { 
    display: flex;
    justify-content: space-between; /*양쪽 끝으로 맞추는 것*/
} /* li의 부모에 flex하면 가로배열 됨*/

/* 
    justify-content 값
    flex-start/flex-end/center
    space-between 사이 간격을 일정하게 한다. (양끝은 간격없음)
*/

.gnb ul li { 
    line-height: 1em; /* 줄간격 초기화 1em=100% --> 폰트크기와 같아짐*/
    /* border: 1px dashed blue;  */
}

.gnb ul li a {
    color: white;
    font-weight: 400;
}


.gnb ul li a:hover {
    color: yellow;
}

.util {
    position: absolute;
    right: 0px; 
    top: 40px;
    width: 175px;
    height: 25px;
    /* background-color: yellowgreen; */
    /* border: 2px dashed yellow; */
    display: flex;
}


.util li {
    /* border: 3px solid skyblue; */
}

.util li:nth-child(1){
    padding-right: 13px;
}

.util li input{
    float: left; /* 폼요소간의 수직어긋남을 맞춤*/
}
/* input form 영역은 float으로 제어해야 딱 맞는다. */
.util li #t1 {
    width: 113px;
    height: 23px;
    background: none;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 2px solid #c7c7c7;
    outline: none; /* focus시 생기는 라인 사용안함 */
    color: white;
}

.util .icon {
    opacity: 0.7;
}


/* visual */

#visual img {
    width: 100%;
    background-position: center;
}
/* 가변이미지에는 높이를 넣으면 안된다. */


/* container > trend */
#trend h2 {
    border: 2px solid yellow;
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
}

#trend ul {
    display: flex;
    justify-content: space-between;
}
/* 
    flex-start 앞 기준 정렬
    flex-end 끝 기준 정렬
    center 가운데 정렬 
    space-around 일정한 간격(양끝 간격이 반작음)  
    space-evenly 일정한 간격(양끝도 간격있음)
    space-between 간격일정
*/

#trend ul li {
    width: 250px;
    height: 288px;
    background-color: pink;
}

#trend p {
    text-align:  center;
    padding-top: 15px;
    font-weight: 400px;
}

/* container > magazine */

#magazine h2 {
    border: 2px solid yellow;
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
    padding-bottom: 10px;
}
#magazine h2 span{
    display: block;
    padding-top: 10px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;

}

#magazine ul {
    display: flex;
    justify-content: space-between;
}

#magazine ul li {
    width: 380px;
    height: 634px;
    background-color: white;
    text-align: center;
}

#magazine ul li h3 {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 12px;
    line-height: 1em;
    border: 2px dashed blue;
}

#magazine ul li p {
    border: 2px dashed skyblue;
    line-height: 24px;
    padding-left: 70px;
    padding-right: 70px;

}

/* container > social */

#social h2 {
    border: 2px solid yellow;
    height: 49px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 700;
    line-height: 1em; /* 줄간격을 폰트사이즈와 똑같이 할 것 = 1em */
    letter-spacing: 3px; /* 자간 */
    padding-bottom: 10px;
}
#social h2 span{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;

}

#social .inner > ul {
    display: flex;
    justify-content: space-between;
}

#social .inner > ul { 
    display:flex; 
    justify-content:space-between; 
}

#social ul li.youtube {
    width: 781px;
    height: 437px;
    /* background-color: yellow; */
}


#social ul li.tabmenu {
    width: 450px;
    height: 437px;
    background-color: yellow;
}

#social .tabmenu .tab_mn {
    display: flex; 
    border: 2px dashed red;
}
#social .tabmenu .tab_mn li {border: 3px solid pink;}
#social .tabmenu .tab_mn li a {
    display: block; /* a태그같은 인라인요소는 width/height 적용안되므로 블록요소로 변경 */
    width: 161px;
    line-height: 60px;
    margin-right: 1px;
    text-align: center;
    font-weight: 900;
    border: 2px dashed blue;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    background-color: white;
}