<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>Vue</title>
<style>
#app { margin:0 auto; border:7px dashed black; padding:30px; }
</style>
</head>
<body>


<div id="app">

	app배경색 : <input v-model="a"> 
	<button v-on:click="AA">적용</button> <br><br>

	app가로길이 : <input v-model="b"> 
	<button v-on:click="BB">적용</button> <br><br>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script>

	new Vue({ 
		el: "#app", 

		data : { a:"pink", b:"100%" },

		methods: {//클릭 등의 이벤트 발생시 실행되는 함수

			AA:function(){
				document.getElementById("app").style.backgroundColor=this.a;
			},

			BB:function(){
				document.getElementById("app").style.width=this.b;
			},

		},
	});

</script>
</body>
</html>











