/*Eric mayor reset */

body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd { 
    margin: 0; padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 12px;
}

ul {
    list-style: none;
}

img {
    border: 0; /* ie(인터넷 익스플로러) 하위버전에서 이미지에 링크시 테두리가 생기는걸 방지*/
    vertical-align: top; /* 크롬 등 일부 브러우저에서 이미지 배열시 생기는 공백오류를 방지*/
}

/**/


#header {
    background-color: lightgray;
    background-image: url(../img/header.jpg);
    background-repeat: repeat-x;
}
.logo {
    background-repeat: no-repeat;
    width: 105px; 
    height: 20px;
    border: gray dashed 1px;
    background-image: url(../img/logo.gif);

}

#visual {
    margin: 0 auto;
    border: gray dashed 1px;
    width: 1920px;
    height: 300px;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: 820px;
}
