body { font-family:"나눔고딕"; font-size:14px; }

.city1 thead {
    background-color: lightgray;
}

.city2 .c1 {
    background-color: lightgray;
}

.city3 { 
    text-align: center;
    padding: 100px;
    width: 600px;
    height: 300px;
}

.city3 thead {
    height: 50px;
    background-color: lightgray;
} 