body { font-family:"나눔고딕"; font-size:14px; }

.city1 thead {
    background-color: lightgray;
}

.city2 .c1 {
    background-color: lightgray;
}

.city3 { 
    text-align: center;
    padding: 100px;
    width: 600px;
    height: 300px;
    font-size: 14px;
    border: 0px solid white;
}

.city3 thead {
    height: 50px;
    background-color: lightgray;
} 

.city3 thead th {
    border-left: 0;
    border-right: 0;
}

.city3 th {
    border: 5px solid gray;
}

.city3 td {
    border: 5px solid gray;
}

.city3 .t1 {border-left: 0;}
.city3 .t2 {border-right: 0;}


.city4 { 
    text-align: center;
    padding: 100px;
    width: 600px;
    height: 300px;
    font-size: 14px;
    /* border: 0px solid white; */
    border-top: 5px solid gray;;
    border-bottom: 5px solid gray;;
}

.city4 thead th {
    height: 50px;
}
